body {
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 30px;
  color: #34063c;
}

.quote-box {
  background-color: rgb(201, 188, 197);
  border-radius: 10px;
  padding: 30px;
  margin: 0 auto 20px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#quote {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 20px;
}

#author {
  font-weight: bold;
  color: #260559;
}

#new-quote {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #367b3d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#new-quote:hover {
  background-color: #cc93cb;
}
#add-quote-form {
  margin: 30px auto;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#add-quote-form input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

#add-quote-form button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #34063c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-quote-form button:hover {
  background-color: #260559;
}
